.simple_button_container{
    padding : 1rem 2rem ; 
    border : 2px solid white ; 
    display : inline-block ;
    box-sizing : border-box ; 
    background-color: white;
    cursor : pointer ;
    transition: .2s linear; 
    border-radius: 1rem;
}

.simple_button_container.active{
    background-color: cyan;
    transition: .2s linear;
}

.simple_button_container:hover{
    border-color : yellow;
    transition: .2s linear;;
}

.button_text{
    font-size : min(1.2em , 20px); 
}